In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

train = pd.read_json('../../KaggleData/competitions/two-sigma-connect-rental-listing-inquiries/train.json')

## 1. 观察数据

In [6]:
train.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>bathrooms</th>
      <th>bedrooms</th>
      <th>latitude</th>
      <th>listing_id</th>
      <th>longitude</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>49352.00000</td>
      <td>49352.000000</td>
      <td>49352.000000</td>
      <td>4.935200e+04</td>
      <td>49352.000000</td>
      <td>4.935200e+04</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1.21218</td>
      <td>1.541640</td>
      <td>40.741545</td>
      <td>7.024055e+06</td>
      <td>-73.955716</td>
      <td>3.830174e+03</td>
    </tr>
    <tr>
      <th>std</th>
      <td>0.50142</td>
      <td>1.115018</td>
      <td>0.638535</td>
      <td>1.262746e+05</td>
      <td>1.177912</td>
      <td>2.206687e+04</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.00000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>6.811957e+06</td>
      <td>-118.271000</td>
      <td>4.300000e+01</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1.00000</td>
      <td>1.000000</td>
      <td>40.728300</td>
      <td>6.915888e+06</td>
      <td>-73.991700</td>
      <td>2.500000e+03</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1.00000</td>
      <td>1.000000</td>
      <td>40.751800</td>
      <td>7.021070e+06</td>
      <td>-73.977900</td>
      <td>3.150000e+03</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>1.00000</td>
      <td>2.000000</td>
      <td>40.774300</td>
      <td>7.128733e+06</td>
      <td>-73.954800</td>
      <td>4.100000e+03</td>
    </tr>
    <tr>
      <th>max</th>
      <td>10.00000</td>
      <td>8.000000</td>
      <td>44.883500</td>
      <td>7.753784e+06</td>
      <td>0.000000</td>
      <td>4.490000e+06</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
train.head().T

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>10</th>
      <th>10000</th>
      <th>100004</th>
      <th>100007</th>
      <th>100013</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>bathrooms</th>
      <td>1.5</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>bedrooms</th>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <th>building_id</th>
      <td>53a5b119ba8f7b61d4e010512e0dfc85</td>
      <td>c5c8a357cba207596b04d1afd1e4f130</td>
      <td>c3ba40552e2120b0acfc3cb5730bb2aa</td>
      <td>28d9ad350afeaab8027513a3e52ac8d5</td>
      <td>0</td>
    </tr>
    <tr>
      <th>created</th>
      <td>2016-06-24 07:54:24</td>
      <td>2016-06-12 12:19:27</td>
      <td>2016-04-17 03:26:41</td>
      <td>2016-04-18 02:22:02</td>
      <td>2016-04-28 01:32:41</td>
    </tr>
    <tr>
      <th>description</th>
      <td>A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...</td>
      <td></td>
      <td>Top Top West Village location, beautiful Pre-w...</td>
      <td>Building Amenities - Garage - Garden - fitness...</td>
      <td>Beautifully renovated 3 bedroom flex 4 bedroom...</td>
    </tr>
    <tr>
      <th>display_address</th>
      <td>Metropolitan Avenue</td>
      <td>Columbus Avenue</td>
      <td>W 13 Street</td>
      <td>East 49th Street</td>
      <td>West 143rd Street</td>
    </tr>
    <tr>
      <th>features</th>
      <td>[]</td>
      <td>[Doorman, Elevator, Fitness Center, Cats Allow...</td>
      <td>[Laundry In Building, Dishwasher, Hardwood Flo...</td>
      <td>[Hardwood Floors, No Fee]</td>
      <td>[Pre-War]</td>
    </tr>
    <tr>
      <th>interest_level</th>
      <td>medium</td>
      <td>low</td>
      <td>high</td>
      <td>low</td>
      <td>low</td>
    </tr>
    <tr>
      <th>latitude</th>
      <td>40.7145</td>
      <td>40.7947</td>
      <td>40.7388</td>
      <td>40.7539</td>
      <td>40.8241</td>
    </tr>
    <tr>
      <th>listing_id</th>
      <td>7211212</td>
      <td>7150865</td>
      <td>6887163</td>
      <td>6888711</td>
      <td>6934781</td>
    </tr>
    <tr>
      <th>longitude</th>
      <td>-73.9425</td>
      <td>-73.9667</td>
      <td>-74.0018</td>
      <td>-73.9677</td>
      <td>-73.9493</td>
    </tr>
    <tr>
      <th>manager_id</th>
      <td>5ba989232d0489da1b5f2c45f6688adc</td>
      <td>7533621a882f71e25173b27e3139d83d</td>
      <td>d9039c43983f6e564b1482b273bd7b01</td>
      <td>1067e078446a7897d2da493d2f741316</td>
      <td>98e13ad4b495b9613cef886d79a6291f</td>
    </tr>
    <tr>
      <th>photos</th>
      <td>[https://photos.renthop.com/2/7211212_1ed4542e...</td>
      <td>[https://photos.renthop.com/2/7150865_be3306c5...</td>
      <td>[https://photos.renthop.com/2/6887163_de85c427...</td>
      <td>[https://photos.renthop.com/2/6888711_6e660cee...</td>
      <td>[https://photos.renthop.com/2/6934781_1fa4b41a...</td>
    </tr>
    <tr>
      <th>price</th>
      <td>3000</td>
      <td>5465</td>
      <td>2850</td>
      <td>3275</td>
      <td>3350</td>
    </tr>
    <tr>
      <th>street_address</th>
      <td>792 Metropolitan Avenue</td>
      <td>808 Columbus Avenue</td>
      <td>241 W 13 Street</td>
      <td>333 East 49th Street</td>
      <td>500 West 143rd Street</td>
    </tr>
  </tbody>
</table>
</div>